<%- include('./includes/start.ejs') %>

<%- include('./includes/nav.ejs') %>


<!-- loading -->
<div class="loading">
    <div class="spinner-border spinner"></div>
</div>

<% if (loggedIn) { %>
<input type="text" id="loggedIn" hidden>
<% } %>

<div class="container mt-3">
    <div class="row">
        <div class="col col-md-6 offset-md-3 text-center">
            <div class="alert" hidden>

            </div>
        </div>
    </div>

    <% if (success) { %>
    <div class="row">
        <div class="col col-md-6 offset-md-3 text-center">
            <div class="alert alert-success">
                <%= success %>
            </div>
        </div>
    </div>
    <% } %>

    <% if(errorM) { %>
    <div class="row">
        <div class="col col-md-6 offset-md-3 text-center">
            <div class="alert alert-danger">
                <%= errorM %>
            </div>
        </div>
    </div>
    <% } %>


    <table class="table table-striped d-none">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col"></th>
                <th scope="col">Price</th>
                <th scope="col">quantity</th>
                <th scope="col">total</th>
                <th scope="col"></th>

            </tr>
        </thead>

        <tbody id="cart-table-body">
            <!-- cart content -->
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>$<span class="cart-total">0</span></td>
                <td>
                    <button class="btn btn-success" type="submit" onclick="checkout()">Checkout</button>
                    <form action="/checkout" method="POST" id="checkout-form">
                        <input type="text" name="items" hidden>
                    </form>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

<script type="module" src="js/src/cart.js"></script>

<%- include('./includes/end.ejs') %>